.match-card-item-container {
  background-color: #0f172a;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  width: 25%;
  height: 350px;
}
.match-card-image {
  height: 60px;
  width: 30px;
}
.won-color {
  color: #18ed66;
}
.lose-color {
  color: #e31a1a;
}
